#version=RHEL8
# Use graphical install
graphical


%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$j./PyfoVYtZB2GAO$0c2y9ncuRZATCd1nbg2tHH9JUwZzT/QPSIKtKvl/DyCP1xwYwUpkkGW9QWvjGRPoKGD//fmG0/0LQ6q0PCsJm.
user --groups=wheel --name=user1 --password=$6$V83d4VCKxWnqbYDM$qBamIykpo2/NL0nNO8.ChYbbbukm/9581JMx2fvMlAeN5fLXSSr43zo3QP7.k/YBq3426rKlo1gjt3j/FTHbQ0 --iscrypted --gecos="user1"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
